.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    overflow-x: hidden;
    max-width: 100vw;
}

h1 {
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #4d4b7e;
  max-width: 50%;
  width: 350px;
  margin-bottom: 20px;

  & button {
    border-radius: 30px;
    background-color: #8b8ae1;
    height: 40px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
  }

  & button:hover {
    background-color: #8b8ae1d0;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  & input {
    border: 1px solid #000;
    border-radius: 30px;
    height: 40px;
    background-color: #363653;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    -webkit-outer: none;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: -180px 0px 0px 60px;
}

.card {
    display: flex;
    justify-content: space-between;
    background-color: #363653;
    margin: 10px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;

    & p {
        font-weight: bold;

        & span {
            font-weight: 400;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    & button:hover {
        opacity: 0.5;
    }
}