.home {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
}

.test {
    display: grid;
    justify-content: center;
    margin: 80px;   
}

.test label {
    margin: 10px 0px 10px 0px;
    text-align: left;
}

.test input{
    padding: 5px;
    border-radius: 20px;
}

.submit {
    margin-top: 30px;
    padding: 10px 30px 10px 30px;
    border-style: none;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
}